.product-page {
    display: flex;
    justify-content: space-between;
  }
  
  .product-container,
  .recommendation-sidebar,
  .image-carousel {
    width: 30%;
    margin: 0 10px;
  }
  
  .carousel-container {
    display: flex;
    overflow: hidden;
  }
  
  .image-carousel img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .custom-button {
    background-color: #3d5027;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #2d3e1e; /* Darker shade of green on hover */
  }
  .row.gx-4.gx-lg-5.row-cols-1.row-cols-md-2.row-cols-xl-3.justify-content-center {
    width: 800px;
    margin-left: 30px;
}
  
  /* Add more styling as needed */
  